* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
span,
a {
  display: inline-block;
}
/* genral end */
body {
  font-family: "", sans-serif;
}
:root {
  --main-color: #7d00de;
}
.navbar-nav .nav-link {
  position: relative;
  color: #4A5565;
  font-size: 18px;
  font-weight: 500;
  padding: 4px 0 !important;
  transition: 0.3s;
}
.navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--main-color);
  transition: width 0.3s ease;
}
.navbar-nav .nav-link:hover {
  color: var(--main-color);
}

.navbar-nav .nav-link:hover::before {
  width: 100%;
}

.navbar-nav .nav-link.active {
  color: var(--main-color);
  font-weight: 600;
}
.navbar-nav .nav-link.active::before {
  width: 100%;
}
.navbar .container {
  position: relative;
}

.navbar .nav-item.dropdown {
  position: static;
}

.navbar .dropdown-menu {
  left: 0;
  right: 0;
  width: auto;
  transform: none;
  padding: 30px;
}
.dropdown-menu a {
  cursor: pointer;
}
.img-fix {
  width: 80px;
  height: 80px;
}
.fs-h-p h6 {
  font-size: 14px;
  font-weight: 500;
}
.fs-h-p p {
  font-size: 14px;
  font-weight: 400;
}
.Featured-Properties a {
  transition: 0.3s;
}
.Featured-Properties a:hover {
  background-color: #f9fafb;
}
.Property-Types a {
  transition: 0.3s;
}
.Property-Types a:hover {
  color: var(--main-color) !important;
}

.new-york {
  width: 100%;
  height: 80px;
  background-image: url(../imges/new-york.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.new-york::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(70, 10, 130, 0.5);
  transition: 0.3s;
}
.new-york:hover::before {
  background-color: rgba(70, 10, 130, 0.6);
}

.los-angeles {
  width: 100%;
  height: 80px;
  background-image: url(../imges/los-angeles.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.los-angeles::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(70, 10, 130, 0.5);
  transition: 0.3s;
}
.los-angeles:hover::before {
  background-color: rgba(70, 10, 130, 0.6);
}

.miami {
  width: 100%;
  height: 80px;
  background-image: url(../imges/miami.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.miami::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(70, 10, 130, 0.5);
  transition: 0.3s;
}
.miami:hover::before {
  background-color: rgba(70, 10, 130, 0.6);
}
.fnt-h-spn h5 {
  font-size: 18px;
  font-weight: 600;
}
.fnt-h-spn span {
  font-size: 14px;
  font-weight: 400;
}
.resources a {
  font-size: 14px;
  font-weight: 500;
}
.circle {
  width: 150px;
  height: 150px;
  top: -75px;
  right: -75px;
  z-index: 0;
}
.circle1 {
  background-color: #f5f3ff;
}
.circle2 {
  background-color: #edfdf2;
}
.circle3 {
  background-color: #f9f4ff;
}

.card1 {
  .icn-rsuc1 {
    font-size: 20px;
    background-color: #ede9fe;
    color: var(--main-color);
  }
  a {
    color: var(--main-color);
  }
}

.card2 {
  .icn-rsuc2 {
    font-size: 20px;
    background-color: #dbfce7;
    color: #00a63e;
  }
  a {
    color: #00a63e;
  }
}
.card3 {
  .icn-rsuc3 {
    font-size: 20px;
    background-color: #f3e8ff;
    color: #9810fa;
  }
  a {
    color: #9810fa;
  }
}
.resources .card1 {
    transition:  0.3s;
}
.resources .card1:hover{
  border-color: var(--main-color) !important;
}
.resources .card1:hover h5{
  color: var(--main-color);
}
.resources .card2:hover{
  border-color: #00a63e !important;
}
.resources .card2:hover h5{
  color: #00a63e ;
}
.resources .card3:hover{
  border-color: #f3e8ff !important;
}
.resources .card3:hover h5{
  color: var(--main-color) ;
}
.resources a i {
    transition:  0.3s ;
}

.resources .card1:hover a i,
.resources .card2:hover a i,
.resources .card3:hover a i {
    transform: translateX(5px);
}
.card1 > *:not(.circle),
.card2 > *:not(.circle),
.card3 > *:not(.circle) {
  position: relative;
  z-index: 1;
}
.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-toggler:hover span {
  color: var(--main-color);
}
.navbar-toggler:hover .navbar-toggler-icon {
  filter: invert(30%) sepia(80%) saturate(3000%) hue-rotate(250deg);
}

@media (max-width: 992px) {
  .navbar-nav > .nav-item > .nav-link::before {
    display: none;
  }

  .navbar-nav > .nav-item > .nav-link:hover {
    background-color: rgba(124, 58, 237, 0.1);
    color: var(--main-color);
  }
}

/* hero section */
#hero-section {
  min-height: 100vh;
  background-image:
    linear-gradient(rgba(70, 10, 130, 0.75), rgba(70, 10, 130, 0.75)),
    url(../imges/hero-bg-img.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  h1 {
    font-size: 60px;
  }
  p {
    font-size: 20px;
    font-weight: 400;
  }
  .form-control,
  .form-select {
    padding: 10px 16px;
    font-size: 17px;
    font-weight: 500;
  }
  :focus-visible {
    border: 1px solid var(--main-color);
    box-shadow: 0px 0px 5px 5px rgba(124, 58, 237, 0.15);
  }
  .inpt {
    color: gray;
  }
  .icn-lbl {
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
  }

  .search-btn {
    padding: 20px;
    background: linear-gradient(135deg, #7c3aed, #a855f7);
    color: white;
    border: none;
    transition: 0.3s;
    &:hover {
      background: linear-gradient(135deg, #502d8e, #8f43d6);
    }
  }
  .fotr-clr h2 {
    color: white;
    font-size: 30px;
    font-weight: 700;
  }
  .fotr-clr p {
    color: oklch(0.894 0.057 293.283);
    font-size: 16px;
    font-weight: 400;
  }
}
/* End hero section */
/* span-any-section */
.premium-title{
    font-size: 16px;
    font-weight: 700;
    background-color: #FAF5FF;
    color: var(--main-color);
    position: relative;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            width: 80px;
            height: 3px;
        }
        &::before {
            right: 100%;
            background: linear-gradient(
                to left,
                var(--main-color),
                transparent
            );
            margin-right: 15px;
        }
        &::after {
            left: 100%;
            background: linear-gradient(
                to right,
                var(--main-color),
                transparent
            );
            margin-left: 15px;
        }
}
/* end span-any section */
/* heading-any section */
.titel-heading {
    font-size: 48px;
    font-weight: 900;
    color: var(--main-color);
}
.titel-heading span {
    background: linear-gradient(
        90deg,
        #7c3aed,
        #E68E5D
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* end heading-any section */
/* eny-paragragh */
.titel-paragraph{
  font-size: 25px;
  font-weight: 400;
  color: #4A5565;

}
/* end eny-paragragh */
/* featured-properties */
#featured-properties{
  background-color: #F9FAFB;
.property-card{
  cursor: pointer;
}
.property-image{
  height: 300px;
  object-fit: cover;
  transition: 0.3s;
}
.property-card:hover .property-image {
    transform: scale(1.1);
}
.ftrud-spn{ 
  color: white;
  font-size: 16px;
  font-weight: 500;
}
.card1-spn1{
  background-color: var(--main-color);
}
.card2-spn1{
  background-color: #00A63E;
}
.card3-spn1{
  background-color: #E17100;
}
.spn-heart:hover{
  color: red;
}
.spn-camra{
  background-color: rgba(0, 0, 0, 0.7);
}
.card-prise h3{
  font-size: 35px;
  font-weight: 700;
  color: var(--main-color);
}
.card-prise p{
  font-size: 16px;
  font-weight: 400;
}
.card-rooms span{
font-size: 18px;
font-weight: 500;
}
.card-btn{
  color: var(--main-color);
  background-color: #DDD6FF;
  &:hover{
    background-color: #c8bdff;
  }
}
.view-all-btn{
background: linear-gradient(135deg, #7c3aed, #a855f7);
color: white;
border: none;
transition: 0.3s;
    &:hover {
      background: linear-gradient(135deg, #502d8e, #8f43d6);
    }
}

}
/* End featured-properties */
/* our servis */
#our-services{
  .service-tabs .nav-tabs {
    border-bottom: 1px solid #e5e7eb;
}
.service-tabs .nav-link {
    border: none;
    color: #4a5565;
    font-weight: 600;
    padding: 20px 25px;
    transition: 0.3s;
}
.service-tabs .nav-link.active {
    color: var(--main-color);
    background-color: #faf5ff;
    border-bottom: 2px solid var(--main-color);
}
.service-tabs .nav-link:hover {
    color: var(--main-color);
    background-color: #faf5ff;
    border-bottom: 2px solid var(--main-color);
}
.buying-features .feature-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-color: #f5f3ff;
    color: var(--main-color);
    border-radius: 8px;
    flex-shrink:0
    
}
.start-search-btn{
  background-color: var(--main-color);
    color: white;
    border: none;
    font-weight: 600;
    &:hover{
      background-color: #502d8e;
    }
}
.buying-image img{
  height: 450px;
  object-fit: cover;
  object-position: center;
}
.success-card {
    color: var(--main-color);
    background-color: white;
    width: 150px;
    bottom: -25px;
    left: -40px;
}
.selling-page .feature-icon {
    color: #00A63E;
    background-color: #DBFCE7;
}

.selling-page .btn {
  background-color: #00A63E;
  &:hover{
    background-color: #01742b;
  }
}

.success-card2 {
    color: #00A63E;
    background-color: white;
    width: 150px;
    bottom: -25px;
    right:-40px;
}
.investing-page .feature-icon {
    color: #D08700;
    background-color: #FEF9C2;
}
.investing-page .btn {
  background-color: #D08700;
  &:hover{
    background-color: #ab7207;
  }
}
.success-card3 {
    color: #D08700;
    background-color: white;
    width: 150px;
    bottom: -25px;
    right:-40px;
}
.commercial-page .feature-icon {
    color: #4F39F6;
    background-color: #E0E7FF;
}
.commercial-page .btn {
  background-color: #4F39F6;
  &:hover{
    background-color: #4531d7;
  }
}
.success-card5{
    color: #4F39F6;
    background-color: white;
    width: 150px;
    bottom: -25px;
    left: -40px;
}
 


}

/* end our servis */
/* Testimonials */
#testimonials {
   background: linear-gradient(
    135deg,
    #54139c,
    #6819aa
);
    color: white;

    .client-title {
    font-size: 16px;
    font-weight: 700;
    background-color: #f5f3ff;
    color: var(--main-color);
    position: relative;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        width: 70px;
        height: 2px;
    }

    &::before {
        right: 100%;
        background: linear-gradient(
            to left,
            #fbbf24,
            transparent
        );
        margin-right: 10px;
    }

    &::after {
        left: 100%;
        background: linear-gradient(
            to right,
            #fbbf24,
            transparent
        );
        margin-left: 10px;
    }

}
    .client-heading {
    font-size: 48px;
    font-weight: 900;
}
.client-description {
    font-size: 20px;
    font-weight: 400px;
}
.rating i{
    color: #fbbf24;
    font-size: 18px;
}
.text-star p{
  font-size: 15px;
  font-weight: 400;
}
.carousel-indicators{
   position: absolute;
   bottom:-25px;
}
.carousel-indicators [data-bs-target]  {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.4);
    border: none;
    transition: 0.3s;
}
.carousel-indicators .active {

    background-color:white;

}
.carousel-indicators [data-bs-target]:hover {

    background-color: white;

}
.carousel-control-prev,
.carousel-control-next {
    width: 50px;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.15);
    opacity: 1;
    transition: 0.3s ease;
}
.carousel-control-prev {
    left: 60px;
}

.carousel-control-next {
    right: 60px;
}
.carousel-control-prev i,
.carousel-control-next i {
    color: white;
    font-size: 18px;
    transition: 0.3s ease;
}
.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: rgba(255, 255, 255, 0.35);
}
.carousel-window {
    width: calc(100% - 250px);
    margin: auto;
    overflow: hidden;
}

.testimonial-card {
    width: 90%;
    margin: auto;
}

}
/* end testimonials */